.DailyBlog{
	
	width: 600px;
	background-color:pink;
	margin:20px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 100px;
	padding-right: 100px;
	border-left: 5px solid red;

	

}
.DailyBlog h1{
	font-family: tahoma;
	color: white;
	text-transform: capitalize;
	text-align: center;


}

.DailyBlog p{

	 color: black;
	 font-family: tahoma;
	 text-align: justify;
	 font-size: 15px;

}
.DailyBlog img{
	width: 100%;
}